* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', sans-serif;
	font-kerning: normal;
	color: #3A4DCA;
}

header {
	background-color: #FFDE02;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

h1 {
	position: absolute;
}

h2 {
	display: flex;
	justify-content: center;
	margin: 0.5em;
}

h3 {
	display: flex;
	justify-content: center;
	margin: 0.5em;
}

.main-content {
	display: flex;
	flex-direction: column;
	height: 90vh;
	background-color: #B3A124;
}

.welcome-text{
	margin: 1em 3em;

}

button {
	width: 7em;
	height: 3em;
	border:solid 2px #3A4DCA;
	border-radius: 0.5em;
	margin: 1em 1em 1em 1em;
}

#search-form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em;
}

.search-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

input{
	height: 3em;
	border: solid 2px #3A4DCA;
	border-radius: 0.5em;
	margin: 0.5em;
}

.button-section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	/* justify-content: center; */
	padding: 0 1em;
	max-width: 320px;
	margin: 0 auto;
}

#home-button {
	margin: 0 0.5em;
	width: 5em;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	display: none;
}

.overlay-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #B3A124;
	padding: 20px;
	width: 80%;
	max-width: 800px;
	height: 70%;
	overflow-y: auto;
	border-radius: 2em;
	border-color: #3A4DCA;
	border: solid 5px;
	justify-content: center;
}

.overlay.show {
	display: block;
}

#search-results {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	justify-content: center;
}

#pokemon-name-input {
	display: none;
}

/* #search-results div {
	display: grid;
	justify-content: center;
} */

@media screen and (min-width: 480px) {
		#search-results {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: auto;
		}

}

@media screen and (min-width: 720px) {
	#search-results {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
	}

}