* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', sans-serif;
	font-kerning: normal;
	color: #020005;
}

header {
	background-color: firebrick;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10em;
}

h1 {
	position: absolute;
}

.main-content {
	display: flex;
	flex-direction: column;
	height: calc(100% - 10em);
	background-color: blueviolet;
}

.button-section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0.5em 2em;
	padding: 0 1em;
}

#home-button {
	margin: 0 0.5em;
	width: 5em;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	display: none;
}

.overlay-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	width: 80%;
	max-width: 800px;
	height: 70%;
	overflow-y: auto;
	border-radius: 2em;
}

.overlay.show {
	display: block;
}

#search-results {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	justify-content: center;
}

/* #search-results div {
	display: grid;
	justify-content: center;
} */

@media screen and (min-width: 480px) {
		#search-results {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: auto;
		}

}

@media screen and (min-width: 720px) {
	#search-results {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
	}

}